<p>Welcome <%= @company.owner_name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "#{ENV['base_ng_url']}/companies/confirmations/#{@token}/#{@company.domain}" %></p>
